<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Team Up</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" *ngIf="userSession">
        <a class="nav-link" routerLink="/user/dashboard">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="userSession">
        <a class="nav-link" routerLink="/user/matches">My Matches</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <span class="text-white" *ngIf="userSession">
      <a [routerLink]="['user/profile']" class="text-white">
      <img [src]="userSession.imageUrl" class="user-image img-circle" width="50" /> {{userSession.email}} </a>
      <a href="/api/auth/logout" class="btn btn-primary ">Logout</a>
    </span>
    <span *ngIf="!userSession">
      <a href="/api/auth/linkedin" class="btn btn-primary">Login</a>
    </span>
  </div>
</nav>

<div *ngIf="gotMessage" class="alert" [class]="notyMessage.type" role="alert">
  {{notyMessage.message}}
</div>
