/* You can add global styles to this file, and also import other style files */
.no-margin {
  margin: 0;
}

.bg-primary {
  background: linear-gradient(to left,#7b4397,#dc2430)!important;
}

.btn-primary {
  background: linear-gradient(to left,#7b4397,#dc2430)!important;
  border: whitesmoke;
}

.btn-primary:hover {
  background: linear-gradient(to right,#7b4397,#dc2430)!important;
}

.btn-primary:active {
  transform: translateY(4px);
}

.text-primary {
  color: white!important;
}

.ng-touched .ng-invalid {
  border-bottom-color: #dc2430;
}

.user-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

a {
  color: #dc2430;
}

.margin-auto {
  margin: auto;
}
