<div class="container mt-5">

  <h4>Suggestions</h4>

  <accordion [closeOthers]="oneAtATime">
    <accordion-group heading="{{user.displayName}}" [panelClass]="panelClass" *ngFor="let user of users">
      <h6>{{user.providerData.summary}}</h6>
      <div>
        <button type="button" class="btn btn-primary" (click)="onLike(user)">
          Like
        </button>
        <button type="button" class="btn btn-primary" (click)="onDislike(user)">
          Dislike
        </button>
      </div>
    </accordion-group>
  </accordion>
</div>
